@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color : #00B0FF;
    --second-blue-color : #0369a1;
    --dark-gray : #64748b;
    --light-gray : #f1f5f9;
    --minion-color : #eab308;
}
html,body{
    min-height: 100vh;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin : 0;
    line-height: 1.5;
    > footer {
        position: sticky;
        top: 100vh;
    }
}

hr{
    margin : 2rem 0rem;
}

/** container **/

.container{
    padding : 0rem 1rem;
}

.container-center{
    max-width : 600px;
    margin : auto;
}

.container-block{
    display: block;
    text-align: center;
}

.container-info{
    padding-left: 1rem;
    display: inline;
}

/** links **/

.link{
    max-width: 200px;
    text-decoration: none;
    margin : 0rem 0.25rem;
    text-align: center;
    padding : 0.5rem 0.5rem;
}

.link-primary{
    background-color : var(--primary-color);
    color : white;
    border-radius : 2rem;
    margin : 1rem auto;
    display: block;
    font-size: 1.1rem;
}
.link-secondary{
    color: var(--primary-color);
    border-radius : 2rem;
    border : 1px solid var(--primary-color);
    margin : 1rem auto;
    display: block;
    font-size: 1.1rem;
}

.link-primary-v2{
    background-color : var(--primary-color);
    color : white;
    border-radius : 2rem;
    margin : 1rem 0rem;
    font-size: 1.1rem;
}

.link-secondary-v2{
    color: var(--primary-color);
    border-radius : 2rem;
    border : 1px solid var(--primary-color);
    margin : 1rem 0.5rem;
    font-size: 1.1rem;
}

.link-secondary-v3{
    color: var(--primary-color);
    border-radius : 2rem;
    border : 1px solid var(--primary-color);
    margin-top : 0.5rem;
    font-size: 1.1rem;
}

.link-secondary-v4{
    color: var(--dark-gray);
    border-radius : 2rem;
    border : 1px solid var(--dark-gray);
    margin-top : 0.5rem;
    font-size: 1.1rem;
}


/**list**/

.list-non-bullet{
    list-style: none;
    padding-inline-start : 0px;
}

.list-item-inline{
    display : inline;
    
}

/**navigation*/

.navigation{
    background-color: var(--primary-color);
    color : white;
    padding : 1rem;
    border-bottom-left-radius: 1rem;
}

.nav2{
    text-align: right;
    margin-left: auto;
    display : in;
}


.navigation .link{
    color : white;
    font-size: 1.1rem;
}

.navigation .nav-pills{
    text-align: center;
    
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .link-active{
    font-weight: bold ;
}

/**Header**/
.hero{
    padding : 2rem;
}

.hero .hero-image{
    max-width: 300px;
    display: block;
    margin:auto;
}

.hero .hero-heading{
    color:var(--dark-gray);
    text-align: center;
    padding-top: 1rem;
}

.hero .hero-heading .hero-heading-focus
{
    color:var(--primary-color);
}

/**Sections**/

.section{
    padding : 2rem;
    width: 100%;
}

.section h1{
    text-align: center;
    margin-bottom: 0rem;
}
.ow{
    background-color : var(--light-gray)
}

.ProjWrapper{
    display: flex;
    justify-content: center;
    width: 100vw;
}
.sbsection{
    display: flex;
    justify-content: space-between;
    padding : 0px 10px;
    font-weight: bold;
}

.section-pc{
    background-color: var(--primary-color);
    padding : 2rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
}

/**footers**/
.footer{
    background-color: var(--primary-color);
    color : white;
    padding: 2rem 0rem;
    text-align: center;
    border-top-right-radius:1rem ;
}

.footer .link{
    color : white;
    font-size: 1.1rem;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.footer ul{
    padding-inline-start: 0px;
}

/**Translate Button**/
button{
    background-color: var(--primary-color);
    margin : 1rem 1rem;
    padding : 0.5rem 2rem;
    font-size: large;
    border : 1px solid black;
    border-radius: 1rem;
}

@media screen and (max-width:975px) {
    .ProjWrapper{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:600px) {
   h1{
    font-size: 1.5rem;
   }
   .link-secondary-v3{
    color: var(--primary-color);
    border-radius : 2rem;
    border : 1px solid var(--primary-color);
    margin-top : 0.5rem;
    font-size: 1rem;
    }
    .link-secondary-v4{
        color: var(--dark-gray);
        border-radius : 2rem;
        border : 1px solid var(--dark-gray);
        margin-top : 0.5rem;
        font-size: 1rem;
    }
    .hero .hero-image{
        max-width: 80%;
    }

}