#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

h1{
    font-size: 20px;
    margin: 0;
    text-align: center;
}

#btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}